body {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
}
.container-main {
    border: 0px solid;
    margin: 20px auto;
    width: 1024px;

}
.container-main div {
    margin: 40px 20px 30px 20px;
    border: 0px solid;
    border-bottom: 1px solid #c5ced8;
    padding-bottom: 10px;
}
pre {
    background-color: #f6f8fa;
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.cv-experience h4 {
    font-style: italic;
}
.top-anchor {
    margin: 20px;
}